 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <form class="validation" action="/admin/chefs" method="POST" enctype="multipart/form-data"><!-- enctype libera o envio de arquivos no formulário -->

    <div class="title chefs">
      <h2>Criando chef</h2>
      <button class="save-button" type="submit">Salvar chef</button>
    </div>

    <!-- Inclui os campos que estão em outro arquivo -->
    {% include 'admin/chefs/fields.njk'%}

  </form>

{% endblock %}