<div class="item inputs admin">
  <div>Nome</div>
  <input 
    class="input"
    type="text" 
    name="name"
    value="{{ chef.name }}">
</div>

<div class="item inputs">

  <div>Avatar</div>

  <div>
    <div id="avatar-upload">
      <input 
        type="file" 
        name="avatar" 
        accept="image/*"
        onchange="PhotosUpload.handleFileInput(event)">
      <p>Enviar Avatar</p>
    </div>

    <div id="photos-preview" class="photos-preview-avatar">
      {% if file %}
        <div class="avatar" id="{{file.id}}">
          <img src="{{file.path}}" alt="{{chef.name}}">
          <i class="material-icons"
            onclick="PhotosUpload.removeOldPhoto(event)"
          >close</i>
          <input type="hidden" name="photo_id" value="{{file.id}}">
        </div>

        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>