<!DOCTYPE html>
<html>
  <head>
    <!-- Conteúdo será substituido caso o bloco head seja encontrado em outros arquivos -->
    {% block head %}
      <title>Foodfy - Admin</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="header-admin">
      <header>
        <a href="/admin/recipes">
          {% block logo %}
            <img src="../assets/logo-branca.png" alt="Foodfy">
          {% endblock %}
        </a>
      </header>
    </div>

    <div class="content-page-admin">

      {% block content %}
      {% endblock %}

    </div>
    
    <script src="/scripts.js"></script>
  </body>
</html>