 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="title users">
    <h2>Gerenciar Usuários</h2>
    <a href="/admin/users/create">Novo usuário</a>
  </div>

  <div class="users-admin">

    {% for user in users %}
      <div class="user-admin">
        <p class="name">{{user.name}}</p>
        <p class="email">{{user.email}}</p>

        <div class="buttons">
          <a href="/admin/users/{{user.id}}/edit">Editar</a>
          {% if user.id != session.userId %}
            <form id="form-delete" action="/admin/users?_method=DELETE" method="POST">
              <input type="hidden" name="id" value={{ user.id }}> 
              <button class="delete-button" type="submit">Remover</button>
            </form>
          {% endif %}
        </div>

      </div>
    {% endfor %}

  </div>

{% endblock %}