<header>
  <div class="logo">
    <a href="/">
      <img src="../assets/logo.png" alt="Foodfy">
    </a>
  </div>

  <div class="links">
    <a href="/sobre">Sobre</a>
    <a href="/receitas">Receitas</a>
    <a href="/chefs">Chefs</a>
  </div>

  <form action="/receitas" method="GET">
    <input 
      type="text"
      name="filter"
      placeholder="Buscar uma receita"
    >
    <button type="submit">Buscar</button>
  </form>

  <div class="account">
    <a href="/session">
      <span class="material-icons">account_circle</span>
    </a>
  </div>
</header>