 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="home">

    <div class="rectangle">

      <div class="texts">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.</p>
      </div>
      
      <div class="image">
        <img src="assets/chef.png" alt="Chef">
      </div>
      
    </div>

    <div class="title">
      <h2>Mais acessadas</h2>
    </div>

    <div class="recipes">

      <!-- Laço para construção das receitas baseado no array data.js -->
      {% for item in items %}
        <!-- Caso o item seja accessed igual a true ele é mostrado na home -->
        {%if item.accessed%}
          <div id="{{item.id}}" class="recipe">
            <img src="{{item.image}}" alt="{{item.title}}">
            <p class="name">{{item.title}}</p>
            <p class="author">{{item.author}}</p>
          </div>
        {% endif %}
      {% endfor %}
          
    </div>

    </div>
  </div>

{% endblock %}