<!DOCTYPE html>
<html>
  <head>
    <!-- Conteúdo será substituido caso o bloco head seja encontrado em outros arquivos -->
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <div class="content-page">

      <header>
        <div class="logo">
          <a href="/">
            {% block logo %}
              <img src="assets/logo.png" alt="Foodfy">
            {% endblock %}
          </a>
        </div>

        <div class="links">
          <a href="/sobre">Sobre</a>
          <a href="/receitas">Receitas</a>
        </div>
      </header>

      {% block content %}
      {% endblock %}

    </div>

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
    
    <script src="/scripts.js"></script>
  </body>
</html>