<!DOCTYPE html>
<html>
  <head>
    <!-- Conteúdo será substituido caso o bloco head seja encontrado em outros arquivos -->
    {% block head %}
      <title>Foodfy - Admin</title>
    {% endblock %}

    <!-- Inclui styles que estão em outro arquivo -->
    {% include 'admin/parts/styles.njk' %}
  </head>

  <body class="content-admin">
    
    {% include 'admin/parts/messages.njk' %}
    
    <!-- Inclui o header que esta em outro arquivo -->
    {% include 'admin/parts/header.njk' %}

    <div class="content-page-admin">

      {% block content %}
      {% endblock %}

    </div>
    
    <script src="/scripts.js"></script>
  </body>
</html>