@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

/*===Conteúdo comum a todas as páginas===*/
* {
  /*Margem, preenchimento e bordas da página toda com zero*/
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  /*Familia de fontes Roboto*/
  font-family: 'Roboto', sans-serif;
  /*Display flexivel / para que o rodape fique no fim da página*/
  display: flex;
  /*Direção do display em colunas / para que o rodape fique no fim da página*/
  flex-direction: column;
  /*Posição do html todo relativa / para que o rodape fique no fim da página*/
  position: relative;
  /*Altura mínima do html em 100% / para que o rodape fique no fim da página*/
  min-height: 100%;
}

body {
  /*Margem no topo e laterais em 0 e no fundo com 62px / para que o rodape fique no fim da página*/
  margin: 0 0 62px;
}

.content-page {
  /*Largura do conteúdo da página*/
  width: 940px;
  /*Display flexivel*/
  display: flex;
  /*Direção do display em colunas*/
  flex-direction: column;
  /*Margem no topo em 0, nas laterias automatico e entre o conteudo e o rodape 50px*/
  margin: 0 auto 50px;
}

.content-page header {
  /*Display flexivel, por padrão a direção do display fica em linha*/
  display: flex;
  /*Itens alinhados os centro para ficar alinhado com a logo*/
  align-items: center;
  /*Margem entre o cabeçalho e o topo do html*/
  margin-top: 36.1px;
  /*Margem entre o cabeçalho e o conteudo do html*/
  margin-bottom: 30px;
}

.links {
  /*Margem entre a logo e os links do menu*/
  margin-left: 122.4px;
}

.links a {
  /*Margem entre os links do menu*/
  margin-right: 30px;
  /*Remoção da sublinhado dos links do menu*/
  text-decoration: none;
  /*Cor do texto dos links do menu*/
  color: #111111
}


footer {
  /*Cor de fundo do rodapé*/
  background: #eeeeee;
  /*Largura do rodapé*/
  width: 100%;
  /*Altura do rodapé*/
  height: 62px;
  /*Display flexivel*/
  display: flex;
  /*alinhamento do texto no eixo Y*/
  align-items: center;
  /*alinhamento do texto no eixo X*/
  justify-content: center;
  /*Posisão do texto absoluta / para que o rodape fique no fim da página*/
  position: absolute;
  /*Distancia entre o rodapé e o fundo / para que o rodape fique no fim da página*/
  bottom: 0;
}

/*===Página - Home===*/
.rectangle {
  /*Altura do retangulo inicial do conteúdo*/
  height: 366px;
  /*Cor do retangulo*/
  background: #FBDFDB;
  /*Arredondamento das bordas do retangulo*/
  border-radius: 30px;
  /*Display flexivel, por padrão a direção do display fica em linha*/
  display: flex;
  /*Espaço entre os elementos do retangulo*/
  justify-content: space-between;
}

.rectangle .texts {
  /*Margem de 117px do topo e 60px da esquerda dos textos do retangulo*/
  margin: 117px 0 0 60px;
}

.rectangle .texts p {
  /*Margem do topo das tags P*/
  margin-top: 10px;
  /*Opacidade do texto da tag P*/
  opacity: 0.7;
  /*Tamanho do fonte do texto da tag P*/
  font-size: 18px;
  /*Espaço entre as linhas do texto da tag P*/
  line-height: 28px;
  /*Largura máxima do texto da tag P, utilizado para quebra de linha*/
  max-width: 316px;
}

.rectangle .image {
  /*margem de 66px no topo e 100px da direita da imagem do chef*/
  margin: 66px 100px 0 0;
}

.home .title {
  /*Margem do topo do titulo*/
  margin-top: 50px;
}

.home .recipes {
  /*Margem entre as receitas e o titulo*/
  margin-top: 20px;
  /*Dispaly em grade*/
  display: grid;
  /*grade com 3 colunas do mesmo tamanho*/
  grid-template-columns: 1fr 1fr 1fr;
  /*Espacamento entre as celulas do grid*/
  gap: 20px;
}

.home .recipes .recipe img {
  /*Arredondamento das bordas do retangulo*/
  border-radius: 15px;
  /*Largura das imagens das receitas*/
  width: 300px;
  /*Altura das imagens das receitas*/
  height: 140px;
}

.home .recipes .recipe .name {
  /*Tamanho da fonte do nome das receitas*/
  font-size: 18px;
  /*Cor do texto do nome das receitas*/
  color: #111111;
}

.home .recipes .recipe .author {
  /*Tamanho da fonte do nome do autor do receita*/
  font-size: 14px;
  /*Cor do nome do autor da receita*/
  color: #777777;
}

/*===Página - About===*/
.content-page .about h2, h3 {
  margin-bottom: 20px;
  color: #111111;
}

.content-page .about p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/*===Página - Recipes===*/
.recipes_page {
  margin-top: 56px;
  display: grid;
  /*grade com 3 colunas do mesmo tamanho*/
  grid-template-columns: 1fr 1fr 1fr;
  /*Espacamento entre as celulas do grid*/
  gap: 20px;
}

.recipes_page .recipe img {
  border-radius: 15px;
  width: 300px;
  height: 140px;
}

.recipes_page .recipe .name {
  font-size: 18px;
  color: #111111;
}

.recipes_page .recipe .author {
  font-size: 14px;
  color: #777777;
}

/*===Página - Recipes-details===*/
.recipes_details_page {
  margin-top: 26px;
}

.recipes_details_page img {
  border-radius: 15px;
  margin-bottom: 50px;
}

.recipes_details_page .texts_center {
  text-align: center;
}

.recipes_details_page .texts_center h1 {
  font-size: 36px;
  color: #111111;
  margin-bottom: 4px;
}

.recipes_details_page .texts_center p {
  font-size: 20px;
  color: #777777;
  margin-bottom: 50px;
}

.recipes_details_page .title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.recipes_details_page .title h3 {
  margin-bottom: 0;
  font-size: 24px;
  color: #111111;
  margin-right: 8px;
}

.recipes_details_page .title p {
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  cursor: pointer;
}

.recipes_details_page .maximize {
  display: none;
}

.recipes_details_page ul {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style-position: inside;
  margin-bottom: 39px;
}

.recipes_details_page p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}