.content-page-admin .account .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 36px;
}

.content-page-admin .account .fields .item {
  margin: 0;
}