 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "site/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="home">

    <div class="rectangle">

      <div class="texts">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.</p>
      </div>
      
      <div class="image">
        <img src="assets/chef.png" alt="Chef">
      </div>
      
    </div>

    <div class="title">
      <h2>Mais acessadas</h2>
    </div>

    <div class="recipes">

      {% for recipe in recipes %}
        <div id="{{recipe.id}}" class="recipe">
          <img src="{{recipe.img}}" alt="{{recipe.title}}">
          <p class="name">{{recipe.title}}</p>
          <p class="author">{{recipe.author}}</p>
        </div>
      {% endfor %}
          
    </div>

    </div>
  </div>

{% endblock %}