<!DOCTYPE html>
<html>
  <head>
    <!-- Conteúdo será substituido caso o bloco head seja encontrado em outros arquivos -->
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}

    {% include 'site/parts/styles.njk' %}
  </head>

  <body>

    <div class="content-page">

      {% include 'site/parts/header.njk' %}

      {% block content %}
      {% endblock %}

    </div>

    {% include 'site/parts/footer.njk' %}
    
    <script src="/scripts.js"></script>
  </body>
</html>