 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "site/layout.njk" %}
    
<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Detalhes da Receita - Foodfy</title>
{% endblock %}

{% block logo %}
  <img src="../assets/logo.png" alt="Foodfy">
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="recipes_details_page">
    <img src="/assets/{{ recipe.image }}" alt="{{ recipe.title }}">

    <div class="texts_center">
      <h1>{{recipe.title}}</h1>
      <p>{{recipe.author}}</p>
    </div>

    <div>
      <div class="title">
        <h3>Ingredientes</h3>
        <p id="hide1">MOSTRAR</p>
      </div>
      <div class="ingredients maximize">
        <ul>
          {% for ingredients in recipe.ingredients %}
            <li>{{ingredients}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div>
      <div class="title">
        <h3>Modo de preparo</h3>
        <p id="hide2">MOSTRAR</p>
      </div>
      <div class="steps maximize">
        <ul>
          {% for steps in recipe.preparation %}
            <li>{{steps}}</li>
          {% endfor%}
        </ul>
      </div>
    </div>

    <div>
      <div class="title">
        <h3>Informações adicionais</h3>
        <p id="hide3">MOSTRAR</p>
      </div>
      <p class="information maximize">{{recipe.information}}</p>
    </div>
  </div>

{% endblock %}