 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "site/layout.njk" %}
    
<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Receitas - Foodfy</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="recipes_page">

    {% if recipes[0] %}
      <!-- Laço para construção das receitas baseado no array data.js -->
      {% for recipe in recipes %}
        <div id="{{recipe.id}}" class="recipe">
          <img src="{{recipe.path}}" alt="{{recipe.title}}">
          <p class="name">{{recipe.title}}</p>
          <p class="author">{{recipe.author}}</p>
        </div>
      {% endfor %}
    {% else %}
      <p class="not-result" >Nenhum resultado encontrado!</p>
    {% endif %}

  </div>

  <div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
  ></div>

{% endblock %}