@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  /*Margin, preenchimento e bordas da página toda*/
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 62px;
}

.content-page {
  width: 940px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
}

.content-page header {
  display: flex;
  align-items: center;
  margin-top: 36.1px;
  margin-bottom: 30px;
}

.content-page .links {
  padding-left: 122.4px;
}

.content-page .links a {
  padding-right: 30px;
  text-decoration: none;
  color: #111111
}

.recipes {
  margin-top: 56px;
  display: grid;
  /*grade com 3 colunas do mesmo tamanho*/
  grid-template-columns: 1fr 1fr 1fr;
  /*Espacamento entre as celulas do grid*/
  gap: 20px;
}

.recipes .recipe img {
  border-radius: 15px;
  width: 300px;
  height: 140px;
}

.recipes .recipe .name {
  font-size: 18px;
  color: #111111;
}

.recipes .recipe .author {
  font-size: 14px;
  color: #777777;
}

/*===MODAL===*/
.modal-overlay {
  /*Cor de fundo com transparencia*/
  background: rgba(0, 0, 0, 0.6);
  /*Largura 100%*/
  width: 100%;
  /*Altura 100%*/
  height: 100%;
  /*Posição fixa*/
  position: fixed;
  /*Distancia do topo em 0*/
  top: 0;
  /*Opacidade 0 para sumir o modal*/
  opacity: 0;
  /*Visibilidade escondida*/
  visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /*Cor do fundo*/
  background-color: white;
  /*Largura 70%*/
  width: 660px;
  /*Altura 90%*/
  height: 413px;
  position: relative;
  opacity: 1;
  border-radius: 16px;
}

.modal .image {
  width: 600px;
  height: 200px;
  margin: 30px;
  border-radius: 15px;
  background: url('') center;
}

.modal .name {
  color: #111111;
  font-size: 24px;
  margin-top: 20px;
}

.modal .author {
  color: #777777;
  font-size: 18px;
  margin-top: 5px;
}

.modal .close{
  cursor: pointer;
  font-size: 16px;
  color: #999999;
  margin-top: 60px;
}

.modal-overlay.active {
  /*Sem opacidade*/
  opacity: 1;
  /*Visivel*/
  visibility: visible;
}

footer {
  /*Cor de fundo do rodapé*/
  background: #eeeeee;
  /*Largura do rodapé*/
  width: 100%;
  /*Altura do rodapé*/
  height: 62px;
  /*Display flexivel*/
  display: flex;
  /*alinhamento do texto no eixo Y*/
  align-items: center;
  /*alinhamento do texto no eixo X*/
  justify-content: center;
  /*Posisão do texto absoluta / para que o rodape fique no fim da página*/
  position: absolute;
  /*Distancia entre o rodapé e o fundo / para que o rodape fique no fim da página*/
  bottom: 0;
}