.home .rectangle {
  /*Altura do retangulo inicial do conteúdo*/
  height: 366px;
  /*Cor do retangulo*/
  background: #FBDFDB;
  /*Arredondamento das bordas do retangulo*/
  border-radius: 30px;
  /*Display flexivel, por padrão a direção do display fica em linha*/
  display: flex;
  /*Espaço entre os elementos do retangulo*/
  justify-content: space-between;
}

.home .rectangle .texts {
  /*Margem de 117px do topo e 60px da esquerda dos textos do retangulo*/
  margin: 117px 0 0 60px;
}

.home .rectangle .texts p {
  /*Margem do topo das tags P*/
  margin-top: 10px;
  /*Opacidade do texto da tag P*/
  opacity: 0.7;
  /*Tamanho do fonte do texto da tag P*/
  font-size: 18px;
  /*Espaço entre as linhas do texto da tag P*/
  line-height: 28px;
  /*Largura máxima do texto da tag P, utilizado para quebra de linha*/
  max-width: 316px;
}

.home .rectangle .image {
  /*margem de 66px no topo e 100px da direita da imagem do chef*/
  margin: 66px 100px 0 0;
}

.home .title {
  /*Margem do topo do titulo*/
  margin-top: 50px;
}

.home .recipes {
  /*Margem entre as receitas e o titulo*/
  margin-top: 20px;
  /*Dispaly em grade*/
  display: grid;
  /*grade com 3 colunas do mesmo tamanho*/
  grid-template-columns: 1fr 1fr 1fr;
  /*Espacamento entre as celulas do grid*/
  gap: 20px;
}

.home .recipes .recipe img {
  /*Arredondamento das bordas do retangulo*/
  border-radius: 15px;
  /*Largura das imagens das receitas*/
  width: 300px;
  /*Altura das imagens das receitas*/
  height: 140px;
}

.home .recipes .recipe .name {
  /*Tamanho da fonte do nome das receitas*/
  font-size: 18px;
  /*Cor do texto do nome das receitas*/
  color: #111111;
}

.home .recipes .recipe .author {
  /*Tamanho da fonte do nome do autor do receita*/
  font-size: 14px;
  /*Cor do nome do autor da receita*/
  color: #777777;
}