 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="forms">
    <form class="validation" action="/admin/recipes" method="POST" enctype="multipart/form-data"><!-- enctype libera o envio de arquivos no formulário -->

      <div class="title-create">
        <h2>Criando receita</h2>
        <button class="save-button" type="submit">Salvar receita</button>
      </div>

      <!-- Inclui os campos que estão em outro arquivo -->
      {% include 'admin/recipes/fields.njk'%}

    </form>
  </div>

{% endblock %}