 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

{% block logo%}
  <img src="../../../assets/logo-branca.png" alt="Foodfy">
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="forms">
    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
      <input type="hidden" name="id" value={{ recipe.id }}> 
      <button class="delete" type="submit">Deletar</button>
    </form>

    <form class="validation" action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data"><!-- enctype libera o envio de arquivos no formulário -->

      <div class="title-edit">
        <h2>Editando receita</h2>
        <div class="buttons">
          <button class="save" type="submit">Salvar receita</button>
        </div>
      </div>

      {% include 'admin/recipes/fields.njk'%}

      <input type="hidden" name="id" value={{ recipe.id }}> 

    </form>
  </div>

{% endblock %}