<div class="item">

  <div>Imagens da receita *</div>

  <div class="photos-list">

    <div id="photos-upload">
      <input 
        type="file" 
        name="photos" 
        multiple
        accept="image/*"
        onchange="PhotosUpload.handleFileInput(event)">
      <div class="photo-add">
        <i class="material-icons">add</i>
      </div>
    </div>

    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" 
              onclick="PhotosUpload.removeOldPhoto(event)"
            >close</i>
            <input type="hidden" name="photo_id" value="{{image.id}}">
          </div>
        {% endfor %}
      {% endif %}
      
      <input type="hidden" name="removed_files">
      
    </div>
  </div>
</div>

<div class="item inputs">
  <div>Nome da receita *</div>
  <input 
    class="input"
    type="text" 
    name="title"
    value="{{ recipe.title }}">
</div>

<div class="item">
  <div>Chef</div>
  <div>
    <select name="chef_id">

      <option>Selecione um chef</option>

      {% for chef in chefOptions %}
        <option value="{{chef.id}}"
          {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{chef.name}}
        </option>
      {% endfor %}
      
    </select>
  </div>
</div>

<div class="item">
  
  <div>Ingredientes *</div>

  <div id="ingredients">
    {% if recipe.ingredients %}
      {% for ingredients in recipe.ingredients %}
        <div class="ingredient">
          <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredients }}"/>
        </div>
      {% endfor %}   
    {% else %}
      <div class="ingredient">
        <input 
          type="text" 
          name="ingredients[]"/>
      </div>
    {% endif %}
  </div>

  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

</div>

<div class="item">

  <div>Modo de preparo *</div>

  <div id="preparations">
    {% if recipe.preparation %}
      {% for preparation in recipe.preparation %}
        <div class="preparation">
          <input 
            type="text" 
            name="preparation[]" 
            value="{{ preparation }}"/>
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input 
          type="text" 
          name="preparation[]"/>
      </div>
    {% endif %}
  </div>

  <button type="button" class="add-preparation">Adicionar novo passo</button>

</div>

<div class="item">
  <div>Informações adicionais</div>
  <textarea name="information" value="{{ recipe.information }}">{{ recipe.information }}</textarea>
</div>