 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="title">
    <h2>Gerenciar Receitas</h2>
    <a href="/admin/recipes/create">Nova receita</a>
  </div>

  <div class="recipes-admin">

    {% for recipe in recipes %}
      <div class="recipe-admin">
        <img src="{{recipe.img}}" alt="{{recipe.title}}">
        <div class="texts">
          <p class="name">{{recipe.title}}</p>
          <p class="author">por {{recipe.author}}</p>
          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}