 <!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "admin/layout.njk" %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}

  <div class="recipes_details_admin">
    <div class="init">
      <h2>Receita: {{recipe.title}}</h2>
      {% if session.isAdmin or recipe.user_id == session.userId %}
        <a href="/admin/recipes/{{recipe.id}}/edit" class="button">Editar receita</a>
      {% endif %}
    </div>
    
    <div class="gallery">

      <div class="highlight">
        {% if not files[0] %}
          <img src="http://placehold.it/500x500?text=RECEITA SEM FOTO">
        {% else %}
          <img src="{{ files[0].src }}" alt="{{ recipe.title }}" onclick="Lightbox.open()">
        {% endif %}

        <div class="lightbox-target">
          <img src="{{files[0].src}}" alt="{{recipe.title}}">
          <a class="lightbox-close" onclick="Lightbox.close()">
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>

      <div class="gallery-preview">
        {% for image in files %}
          <img 
            src="{{image.src}}" 
            alt="{{recipe.title}}"
            {% if loop.index0 == 0 %}
              class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
          >
        {% endfor %}
      </div>

    </div>

    <div class="texts_center">
      <h1>{{recipe.title}}</h1>
      <p>por {{recipe.author}}</p>
    </div>

    <div>
      <div class="title-details">
        <h3>Ingredientes</h3>
      </div>
      <div class="ingredients">
        {% for ingredients in recipe.ingredients %}
          <p>- {{ingredients}}</p>
        {% endfor %}
      </div>
    </div>

    <div>
      <div class="title-details">
        <h3>Modo de preparo</h3>
      </div>
      <div class="steps">
        {% for steps in recipe.preparation %}
          <p>- {{steps}}</p>
        {% endfor%}
      </div>
    </div>

    <div>
      <div class="title-details">
        <h3>Informações adicionais</h3>
      </div>
      <p class="information">{{recipe.information}}</p>
    </div>
  </div>

{% endblock %}